<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <form action="/" method="post">
        Name: <input type="text" name="name"><br>
        Last name: <input type="text" name="lastname"><br>
        Ssn: <input type="text" name="ssn"><br>
        Email: <input type="email" name="email"><br>

        <button type="submit">Create</button>
    </form>
</body>
</html>
